{{template "base" .}}

{{define "title"}}Sign Up{{end}}

{{define "main"}}
    <form action="/signup" method="POST">
        <label for="email">email:</label>
        <input type="email" name="email" required> <br>

        <label for="name">name:</label>
        <input type="text" name="name" required> <br>

        <label for="login">login:</label>
        <input type="text" name="login" required> <br>

        <label for="password">password:</label>
        <input type="password" name="password" required> <br>
        <br>
        <button type="submit">sign up</button>
    </form>


{{end}}

